{% extends "baseaccount.html" %}

{% block title %}Resetea tu password{% endblock %}

{% block content %}
    <h1>Resetea tu password</h1>
    {% if validlink %}
        <p>Porfavor ingresa tu nuevo password </p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Cambiar mi password" /></p>
        </form>
    {% else %}
        <p>El link del password es invalido ingresalo de nuevo</p>
    {% endif %}
{% endblock %}
